<!DOCTYPE html>
<html>
<head>
  <title>Neue Bestellung</title>
</head>
<body style="background-color: #ffffff; text-align: center; margin: 20px auto; max-width: 600px; font-family: Arial, sans-serif;">
    <table>
    <tr>
        <img src="https://lingen-liefert.com/cdn/shop/files/LOGO_LINGENLIEFERT_RGB_977d9a7b-511c-4b49-8e66-47ee6879ed65_1200x1200.png?v=1615319971" style="height: auto; width: 40%;">
    </tr>
    <tr>
        <td><h2 style="font-size: 28px;">Bestellung: <%= orderID %></h2></td>
    </tr>
    </table>
    <table style="width: 100%; border-collapse: collapse; font-size: medium;">
    <tr>
        <td style="padding: 10px;"><strong>Geschäfts ID:</strong></td>
        <td style="padding: 10px;"><%= storeID %></td>
    </tr>
    <tr>
        <td style="padding: 10px;"><strong>Geschäftsname:</strong></td>
        <td style="padding: 10px;"><%= storeName %></td>
    </tr>
    <tr>
      <td style="padding: 10px;"><strong>Bestellnummer:</strong></td>
      <td style="padding: 10px;"><%= orderID %></td>
    </tr>
    <tr>
      <td style="padding: 10px;"><strong>Zeitstempel:</strong></td>
      <td style="padding: 10px;"><%= timestamp %></td>
    </tr>
    <% if (employeeName !== null && employeeName !== "" && employeeName !== " " && employeeName !== undefined) { %>
      <tr>
        <td style="padding: 10px;"><strong>Mitarbeitername:</strong></td>
        <td style="padding: 10px;"><%= employeeName %></td>
      </tr>
    <% } %>
    <tr>
      <td style="padding: 10px;"><strong>Kundenname:</strong></td>
      <td style="padding: 10px;"><%= firstName %> <%= lastName %></td>
    </tr>
    <tr>
      <td style="padding: 10px;"><strong>Lieferadresse:</strong></td>
      <td style="padding: 10px;"><%= street %> <%= houseNumber %>, <%= zip %></td>
    </tr>
    <tr>
      <td style="padding: 10px;"><strong>Paketgröße:</strong></td>
      <td style="padding: 10px;"><%= packageSize %></td>
    </tr>
    <% if (handlingInfo !== null) { %>
      <tr>
        <td style="padding: 10px;"><strong>Bearbeitungsinformationen:</strong></td>
        <td style="padding: 10px;"><%= handlingInfo %></td>
      </tr>
    <% } %>
    <tr>
      <td style="padding: 10px;"><strong>Lieferdatum:</strong></td>
      <td style="padding: 10px;"><%= deliveryDate %></td>
    </tr>
    <% if (customDropOffPlace !== null) { %>
      <tr>
        <td style="padding: 10px;"><strong>Individueller Abgabeort:</strong></td>
        <td style="padding: 10px;"><%= customDropOffPlace %></td>
      </tr>
    <% } %>
  </table>
</body>
</html>
